<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">

    </head>
<body>

    <div id="template">
        <div id="back">
            <br><br>
            <img src="JOY.png" id="logo">
            <br><br><br>
            <img src="phone.png" id="phone">
            <br><br><br>
            <br>
            <a href="/auth/register"><button id="btn"><span id="font1">&JOY 하러 가기</span></button></a>
            <br><br><br>
            <div><span>이미 회원이신가요?</span>&nbsp;&nbsp;<span><a href="/auth/login">로그인</a></span></div>
        </div>
    </div>
</body>
</html>