<form action="/auth/login_process" method="post">
    <p><input class="login" type="text" name="userid" placeholder="아이디"></p>
    <p><input class="login" type="password" name="pwd" placeholder="비밀번호"></p>
    <p><input id="btn" type="submit" value="로그인"></p>
</form>     